#apartment-details {
    width: 80%;
    margin: 3rem auto;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    .my-btn {
        background: #ffae00;
        color: #fff;
        border-radius: 30px;
        border: none;
        padding: 10px 30px;
        transition: all 0.2s ease;
        &:hover {
            box-shadow: 0 0 20px #cbcbcb;
            color: #fff;
            font-weight: bold;
        }
        &.btn-outline {
            background: #fff;
            border: 2px solid #ffae00;
            color: #ffae00;
        }
    }
    .user-controls {
        text-align: right;
        margin-bottom: 3rem;
        a {
            margin-left: 2rem;
        }
    }
    .apartment-header {
        font-weight: bold;
        h1 {
            margin-bottom: 2rem;
        }
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .img-container {
        margin: 2rem 0;
        width: 100%;
        height: 400px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas: "cover side1 side2";
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .cover-image {
            grid-area: cover;
            background-color: red;
            height: 100%;
            width: 100%;
        }
        .side1 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1em 1em;
            grid-auto-flow: row;
            grid-template-areas:
                "."
                ".";
            grid-area: side1;
        }

        .side2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1em 1em;
            grid-auto-flow: row;
            grid-template-areas:
                "."
                ".";
            grid-area: side2;
        }
        .side-img {
            background-color: red;
            height: 100%;
            width: 100%;
        }
    }
    .apartment-description {
        margin-top: 10rem;
        padding: 2rem 1rem;
        display: flex;
        // justify-content: space-between;
        .text {
            h3 {
                font-weight: bold;
            }
            width: 70%;
            border-right: 1px solid #cbcbcb;
            p {
                width: 80%;
            }
            .ap-numbers {
                display: flex;
                h5 {
                    margin-right: 1rem;
                }
            }
        }
        .services {
            padding-left: 2rem;
        }
    }
    .map-container {
        margin-bottom: 2rem;
        .map {
            width: 100%;
            height: 400px;
        }
    }
    .msg-container {
        width: 50%;
        margin: 3rem auto;
        h4 {
            margin-bottom: 2rem;
        }
        input:not(.my-btn),
        textarea {
            width: 100%;
            padding: 0.5rem 1rem;
            border-radius: 30px;
            margin-bottom: 1rem;
            border: 1px solid #cbcbcb;
        }
    }
}
