#apartment-details {
    width: 80%;
    margin: 3rem auto;
    .my-btn {
        background: #ffae00;
        color: #fff;
        border-radius: 30px;
        border: solid #ffae00;
        padding: 10px 30px;
        transition: 0.2s;
        text-decoration: none;

        &:hover {
            background-color: #332b27;
            padding: 10px 35px;
            font-weight: bold;
        }
        &.btn-outline {
            background: #fff;
            border: solid #ffae00;
            color: #ffae00;
        }
    }
    .user-controls {
        text-align: right;
        margin-bottom: 3rem;

        a {
            margin-left: 2rem;
            display: inline-block;

            @media(max-width: 600px) {
                width: 100%;
                margin-bottom: 8px;
                margin-left: 0;
            }
        }
    }
    .apartment-header {
        font-weight: bold;
        h1 {
            margin-bottom: 2rem;
        }
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .img-container {
        margin: 5rem 0 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem 1rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            &:first-child {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }
        }
    }
    .apartment-description {
        margin-top: 6rem;
        padding: 2rem 1rem;
        display: flex;
        // justify-content: space-between;
        .text {
            h3 {
                font-weight: bold;
            }
            width: 70%;
            border-right: 1px solid #cbcbcb;
            p {
                width: 80%;
            }
            .ap-numbers {
                display: flex;
                h5 {
                    margin-right: 1rem;
                }
            }
        }
        .services {
            padding-left: 2rem;
        }
    }
    .map-container {
        margin-bottom: 2rem;
        .map {
            width: 100%;
            height: 400px;
        }
    }
    .msg-container {
        width: 50%;
        margin: 3rem auto;
        h4 {
            margin-bottom: 2rem;
        }
        input:not(.my-btn),
        textarea {
            width: 100%;
            padding: 0.5rem 1rem;
            border-radius: 30px;
            margin-bottom: 1rem;
            border: 1px solid #cbcbcb;
        }
    }
}
