header {
    background-color: #332b27;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    .logo {
        font-family: "Noto Serif Display", serif;
        color: #fff;
    }
    a:hover{
        transform: scale(1.1);
        color:#FFAE00;
        text-decoration: none;
    }

    .guest,
    .logged-user {
        text-align: right;
        a {
            color: #fff;
            margin-left: 1rem;
            &:first-of-type {
                margin-right: 1rem;
            }
        }
        a:hover{
            color:#FFAE00;
            text-decoration: none;
        }
        
    }
}
