#payment-container {
    width: 50%;
    margin: 2rem auto 3rem;

    .my-btn {
        background: #ffae00;
        color: #fff;
        border-radius: 30px;
        border: solid #ffae00;
        padding: 10px 30px;
        transition: all 0.2s ease;
        text-decoration: none;
        &:hover {
            font-weight: bold;
            background-color: #332b27;
        }
    }
}
