#containerForm {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

    textarea {
        margin-top: 15px;
        border-radius: 30px;
        border: 1px solid grey;
        padding-top: 10px;
    }

    input {
        padding: 10px 200px 10px 20px;
        border-radius: 30px;
        border: 1px solid grey;
        margin: 10px 0;
    }

    #button_below {
        color: #ffffff;
        font-family: Helvetica;
        font-size: 15px;
        background-color: #ffae00;
        text-decoration: none;
        cursor: pointer;
        border: #ffae00;
        border-radius: 38px;
        font-weight: 600;
        line-height: 5px;
        margin-top: 15px;
        padding: 15px 30px;
    }

    #button_below:hover {
        border: solid #ffae00;
        text-decoration: none;
        background-color: #332b27;
        transform: translate(0%, 0%);
    }
}
