#register{
    #containerForm  h3{
        font-size:30px;
        padding:15px 0;
        padding-left:15px;
    }

    #containerForm{
        display:flex;
        justify-content: center;
    } 

    input{
        margin:10px 0px;
    }

    #containerForm{
        padding:20px 0px 80px 60px;
    }

    input{
        width:83%;
        height:45px;
        border-radius:50px;
        border:1px solid grey;
    }

    textarea{
        border-radius:13px;
        border:1px solid grey;
        margin-top:10px;
    }

    #button_register{
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 15px;
        background-color: #FFAE00;
        text-decoration: none;
        cursor: pointer;
        width:120px;
        border: #FFAE00;
        border-radius: 38px;
        margin-top:10px;
        font-weight:600;
    }

    #button_register:hover {
        border: solid #FFAE00;
        text-decoration: none;
        background-color: #332b27;
        transform: translate(0, 0);
        -ms-transform: translate(-50%, -50%);
   }
}