#user-dashboard {
    .my-btn {
        background: #ffae00;
        color: #fff;
        border-radius: 30px;
        border: solid #ffae00;
        padding: 10px 30px;
        transition: all 0.2s ease;
        text-decoration: none;
        &:hover {
            font-weight: bold;
            background-color: #332b27;
        }
        &.btn-outline {
            background: #fff;
            border: solid #ffae00;
            color: #ffae00;
        }
        &.btn-sponsored {
            border-color: #cbcbcb;
            color: #cbcbcb;
            &:hover {
                cursor: not-allowed;
            }
        }
    }

    hr {
        margin: 1rem auto 2rem;
        width: 90%;
    }
    .dash-head {
        width: 80%;
        margin: 3rem auto 2rem;
        > div {
            margin-bottom: 2rem;
        }
        .my-btn {
            font-size: 1.5rem;
        }
    }
    .dash-ap-list {
        width: 80%;
        margin: 0 auto 2rem;
        .apartment {
            border: 1px solid #cbcbcb;
            width: 50%;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem;
            margin-bottom: 2rem;
            transition: all 0.2s ease;
            &:hover {
                box-shadow: 0 0 20px #cbcbcb;
                border-color: #a0a0a0;
                transform: scale(1.01);
            }
            .apartment-head,
            .apartment-foot {
                display: flex;
                justify-content: space-between;
            }
            .apartment-head {
                align-items: center;
                > a {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #000;
                }
                div {
                    span {
                        font-weight: bold;
                    }
                    .my-btn {
                        padding: 5px 10px;
                    }
                }
            }
            .apartment-foot {
                .my-btn {
                    padding: 5px 10px;
                }
            }
        }
    }
}
