// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#elenco {
    // justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #apartment {
        padding: 13%;
        border: 1px solid black;
        margin: 10px;     
    }
}

.form{
    margin: 0 auto;
    text-align: center;

    label, input {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

#search {
    width: 90%;
    margin: 10px auto;

    input {
        border-radius: 10px;
    }

    .fas {
        cursor: pointer;
    }
}



